:host
{
  display: flex;
  flex-direction: column;
  height: 100%;

}

mat-drawer{

  width: 260px;
  background :  #1e588a;
  color: white;

}

mat-drawer-container{

  height: 100%;


}
mat-drawer-content{
  background : white;
  color : black;
}
