<mat-nav-list>
  <div class="logo py-4">
     <img src="../../assets/logo.svg" alt="logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">MACITE</h2>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> TABLEAU DE BORD
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> PROJETS
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> SONDAGES
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> INFORMATIONS
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> SERVICES
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> PROPOSITIONS D'IDEES
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> PARKING
  </a>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> COLLECTE
  </a>
</mat-nav-list>
