.page{
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box{
    min-height: 40px;
    background: #1e588a;
    margin: 0 -1rem;
    font-size: 36px;

  }
  &__content{
    min-height: calc(100vh - 160px);
    border-radius: 10px;
    margin-top: 1px;
    background : white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;

  }
}

.page__box h1{
  margin-left: 22px;
}
.page__content{
  text-align: center;
}

